* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans SC', serif;
    background-color: #f6d4b7;
    color: #000;
    line-height: 1.6;
    padding: 0;
    overflow-x: hidden;
}


html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.hero-section,
.about {
    /* min-height: calc(100vh - 120px); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 120px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #f6d4b7;
    /* position: relative; */
    /* width: 100vw; */
    /* overflow: hidden; */
}


.hero-image {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-5%) scale(1.05);
}

.hero-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 60px;
    background-color: #f6d4b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.hero-link {
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    padding: 0 20px;
}

.brand-name {
    display: inline-block;
    font-family: 'Noto Sans SC', serif;
    font-weight: 200;
    font-size: 1.7rem;
    text-align: center;
    margin-left: 55px;
    color: #000;
    text-decoration: none;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.brand-name:hover {
    color: #996633;
}


.hero-link:hover {
    color: #996633;
}


.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;   
}

.about h2 {
    font-family: 'Noto Sans SC', serif;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 20px;

}

.portrait {
    width: 120px;
    height: auto;
    margin: 20px 0;
}

.about p {
    font-family: 'Noto Sans SC', serif;
    font-weight: 100;
    max-width: 800px;
    margin: 16px auto;
    font-size: 1.2rem;
}

#about {
    scroll-margin-top: 0px;
}


@media (max-width: 768px) {
  .hero-footer {
    flex-direction: column;
    gap: 10px;
  }

  .brand-name {
    font-size: 1.4rem;
  }

  .content {
    padding: 60px 16px;
  }
}
